body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 100vh;
}
.wrapper > div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input {
    padding: 10px 20px;
}
label{
    font-size: 20px;
}